#root{
    height: 100vh;
}
:root {
  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Colors */
  --color-primary: #E22D30;
  --color-primary-soft: #F04D4D;
  --color-primary-hover: #B52226;
  --color-primary-light: rgba(240, 77, 77, 0.23);

  --assistant-base-start: #FFF1E6;
  --assistant-base-end:   #FDD6D6;

  --assistant-glow-primary:   rgba(255, 180, 180, 0.6);
  --assistant-glow-secondary: rgba(255, 220, 190, 0.45);

  --assistant-text-primary:   #2B1C1C;
  --assistant-text-secondary: #6B4A4A;
  
  /* Backgrounds */
  --color-bg-page: #FAF7F5;
  --color-bg-card: #FFFFFF;
  --color-bg-muted: #F4F4F5;
  --color-bg-topbar: #FCFBFD;
  --color-bg-dashboard: #F5F6F7;

  /* scrore */
  --color-primary-medium:#e18889;
  --color-primary-low:#e5af78;

  /* Text */
  --color-text-primary: #111;
  --color-text-secondary: #6B7280;
  --color-text-muted: #9CA3AF;
  --color-text-inverse: #FFFFFF;

  /* Icons */
  --color-icon-default: #6B7280;
  --icon-filter-default: invert(47%) sepia(8%) saturate(665%) hue-rotate(201deg) brightness(93%) contrast(86%);
  --icon-filter-primary: invert(55%) sepia(85%) saturate(2274%) hue-rotate(346deg) brightness(101%) contrast(101%);
}

[data-theme="dark"] {
  --color-bg-page: #0F1419;
  --color-bg-card: #1A1F26;
  --color-bg-muted: #252A31;
  --color-bg-topbar: #1A1F26;
  --color-bg-dashboard: #0F1419;

  --color-text-primary: #E5E7EB;
  --color-text-secondary: #9CA3AF;
  --color-text-muted: #6B7280;
  --color-text-inverse: #111;

  --color-icon-default: #9CA3AF;
  --icon-filter-default: invert(67%) sepia(6%) saturate(434%) hue-rotate(182deg) brightness(92%) contrast(87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: linear-gradient(
    150deg,
    var(--color-bg-dashboard) 0%,
    var(--color-bg-dashboard) 50%,
    #f04d4d3b 100%
  );
}
/* Hide scrollbar but allow scrolling */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Firefox */
/* html {
  scrollbar-width: none;
} */

/* IE / Edge (legacy) */
/* body {
  -ms-overflow-style: none;
} */


.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-btwn{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.d-block{
    display: block;
}





